{% extends 'catalog/base.html' %}
{% block content %}
<div class="container">
    <div class="row text-center">
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">

                        <h3>Забыли пароль?</h3>
                        <p>Введите e-mail, вам будет отправлено письмо</p>
                        
                        
                        <form method="post">
                        {% csrf_token %}
                        <input type="email" name="email" placeholder="Email" required>
                            {% if error_message %}
                            <p style="color: red;">{{ error_message }}</p>
                            {% endif %}
                        <button type="submit" class="btn btn-primary">Отправить e-mail</button>
                        </form>
                        
                </div>
            </div>
        </div>
    </div>     
</div>

{% endblock %}
