{% extends 'catalog/base.html' %}
{% load filters %}
{% block content%}
    <div class="row mt-2 justify-content-center">
        <div class="col-6">
            <div class="card">
              <p style="text-align: center;">
                <img src="{% mediapath object.avatar %}" alt="{{ object.first_name }}" style="max-height:225px; max-width:100%; width: auto; height: auto;">
              </p>
              <div class="card-body">
                  <p class="card-text">email: {{ object.email }}
                      {% if not user.is_superuser %}
                      {% if object.email_is_confirmed %}
                        <span class="badge text-success">Подтверждён</span><br>
                      {% else %}
                        <a href="{% url 'users:confirm' %}" class="btn btn-sm btn-danger">Подтвердить</a>
                      {% endif %}<br>
                      {% endif %}
                  {% if object %}
                  <h5 class="card-title">{{ object.first_name }} {{ object.last_name }}</h5>
                  Телефон: {{ object.phone }}<br>
                  Страна: {{ object.country }}</p>
                  {% endif %}
                  <div class="btn-group">
                      <a href="{% url 'users:profile' %}" class="btn btn-warning">Редактировать</a>
                  </div>
              </div>
            </div>
        </div>
    </div>

{% endblock %}