{% extends 'catalog/base.html' %}

{% load media_path %}

{% block content %}
<div class="container">
  <div class="row text-center">
    {% for product in products %}
    <div class="col-3">
      <div class="card mb-4 box-shadow">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">{{ product.title }}</h3>
            <h4 class="card-title pricing-card-title">${{ product.price }}</h4>
            {% if product.image %}
            <img src="{{ product.image|media_path }}" alt="{{ product.title }}" class="img-fluid">
            {% endif %}
            <p class="card-text">{{ product.text|truncatechars:100 }}</p>
            <a href="{% url 'product_detail' product.id %}" class="btn btn-primary">Купить</a>
          </div>
        </div>
      </div>
    </div>
    {% if forloop.counter|divisibleby:"4" and not forloop.last %}
  </div>
  <div class="row text-center">
    {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock %}