{% extends 'catalog/base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">{{ product.title }}</div>
                <div class="card-body">
                    <h5 class="card-title">${{ product.price }}</h5>
                    {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.title }}" class="img-fluid">
                    {% endif %}
                    <p class="card-text">{{ product.text }}</p>
                    <p class="card-text">Активные версии:
                        {% for version in product.active_versions.all %}
                        {{ version.version_name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                    <a href="{% url 'catalog:product_edit' product.id %}" class="btn btn-primary">Редактировать</a>
                    <a href="{% url 'catalog:product_delete' product.id %}" class="btn btn-danger">Удалить</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}







